@import url(//fonts.googleapis.com/earlyaccess/droidarabickufi.css);
label,input,button,span,textarea{
  font-family: 'Droid Arabic Kufi', sans-serif;
}

.brand-logo{
    margin-left: 8%;
}
.student_form,.instructor_form{
    margin-left: 6%;

}
ol, ul {
    line-height: unset!important;
}
.bold{
    font-weight: bold;
}
#nav-web{
    margin-right: 10%;

}

.modal{
    width: 95% !important;
}

.error{
    color:red;
}
.success_message{
    font-size: 23px;
    padding-left: 9%;
    float: right;
    height: 45px;
    padding-top: 0.5%;
    width: 44%;
    color: white;
    border-radius: 22px;
}

.dropdown-content li>a, .dropdown-content li>span {
    font-size: 12px;
}

.ppicture {
  width: 200px;
  height: 200px;
 background-size: cover;
  display: block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}
input[type=text]:focus{
    border-bottom: 1px solid #ff9800 !important;
    box-shadow: 0 1px 0 0 #ff9800 !important
}
/* label focus color */
.input-field input:focus + label {
    color: #29b6f6 !important;
}
/* label underline focus color */
.row .input-field input:focus{
    border-bottom: 1px solid #29b6f6 !important;
    box-shadow: 0 1px 0 0 #29b6f6 !important
}
.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}



.select-wrapper input.select-dropdown{
    color: #9e9e9e;
}

.dropdown-content li>a, .dropdown-content li>span{
    color: #29b6f6;
}
.searched-image{
    width: 100px;
    height: 100px;
   background-size: cover;
    display: block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}
.div.dataTables_wrapper {
    width: 100%!important;
    margin: 0 auto;
}
#instructor-posts-table , #courses-posts-table{
width:100%!important;
}